@model List<Lab1.Models.ViewModels.DAUViewModel>

@{
    ViewData["Title"] = "DAU";
}

<h2>DAU</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Date)
            </th>
            <th>
                Quantity
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dau in Model)
        {
            <tr>
                <td>
                    @dau.Date.ToShortDateString()
                </td>
                <td>
                    @dau.UsersQuantity
                </td>
            </tr>
        }
    </tbody>
</table>
