@model int

@{
    ViewData["Title"] = "NewUsers";
}

<h2>New Users</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Half year prediction
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model
            </td>
        </tr>
    </tbody>
</table>
