@model int

@{
    ViewData["Title"] = "Purchase";
}

<h2>Daily Purchases</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Daily Purchases
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model
            </td>
        </tr>
    </tbody>
</table>
