@model double

@{
    ViewData["Title"] = "Revenue";
}

<h2>Daily Revenue</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Daily Revenue
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model
            </td>
        </tr>
    </tbody>
</table>
